.form-group.single-exercise.col-sm-12
  = hidden_field_tag "exercises[][id]", exercise.id
  = label_tag exercise.name, nil,class: "col-sm-1 control-label"
  - if exercise.weight
    .col-sm-2
      = select_tag "exercises[][weight]", options_for_weight(exercise), class: "form-control"
    .col-sm-1.exercise-label
      %p LBS
  - if exercise.time
    .col-sm-2
      = select_tag "exercises[][time]", options_for_time(exercise), class: "form-control"
    .col-sm-1.exercise-label
      = exercise.time_type
  - if exercise.sets
    .col-sm-2
      = select_tag "exercises[][sets]", options_for_sets(exercise), class: "form-control"
    .col-sm-1.exercise-label
      %p SETS
  - if exercise.reps
    .col-sm-2
      = select_tag "exercises[][reps]", options_for_reps(exercise), class: "form-control"
    .col-sm-1.exercise-label
      %p REPS
  = image_tag "check.png", id: "check_#{exercise.id}"
  %btn.btn.btn-success.pull{id: "button_#{exercise.id}"}
    Done!
  :javascript
    $(document).ready(function() {
      $("#check_#{exercise.id}").hide();

      $("#button_#{exercise.id}").click(function(){
        $(this).hide();
        $("#check_#{exercise.id}").show();
      });
    });