%h3
  = "#{current_user.full_name.titleize}'s Workouts"
.col-sm-10.well.center
  -if @workouts.empty?
    .obj-empty-text
      %h4
        You don't have any workouts yet.
      %p
        To add a workout, select New and then Workout in the navigation up top. Be sure to add exercises first so that you can add the exercises to the workout.
  - @workouts.each do |workout|
    .workout.clearfix
      %h4
        = workout.name.titleize
      = link_to "Edit", edit_workout_path(workout), class: "btn btn-warning"
      = link_to "Start Workout", workout_path(workout), class: "btn btn-success start"
    - unless workout == @workouts.last
      %hr
