%h3
  = @workout.name.titleize
= form_tag update_multiple_exercises_path, class: 'form-horizontal' do
  .col-sm-10.well.center.clearfix
    - @workout.exercises.each do |exercise|  
      = render 'display_exercise', exercise: exercise
  %div.col-sm-10.col-sm-offset-5
    = submit_tag "Workout Complete!", class: "btn btn-success submit"
    = link_to "Cancel", :back, class: "btn btn-danger"
