%h3
  Login
.col-sm-8.well.center
  = bootstrap_form_tag url: login_path, layout: :horizontal, label_col: "col-sm-2 col-sm-offset-2", control_col: "col-sm-6", method: 'post' do |f|
    = f.text_field :username
    = f.password_field :password
    = f.submit 'Sign In', class: 'col-sm-offset-4 btn btn-default'
    %br
    %br
    %span.col-sm-offset-4
      Don't have an account? 
      = link_to "Register Here", register_path