-if @exercise.errors.any?
  = render "shared/display_errors", obj: @exercise
= form_for @exercise, html: { class: "form-horizontal" } do |f|
  .col-sm-10.well.center.clearfix
    .form-group
      = f.label :name, "Exercise Name:", class: "col-sm-3 col-sm-offset-2 control-label"
      .col-sm-5
        = f.text_field :name, class: "form-control"
    .form-group
      = f.label :weight, "Weight:", class: "col-sm-3 col-sm-offset-2 control-label"
      .col-sm-2
        = f.select :weight, options_for_weight(@exercise), {include_blank: true}, { class: "form-control" }
    .form-group
      = f.label :time, "Time:", class: "col-sm-3 col-sm-offset-2 control-label"
      .col-sm-2
        = f.select :time, options_for_time(@exercise), {include_blank: true}, { class: "form-control" }
      .col-sm-2
        = f.select :time_type, options_for_time_type(@exercise), {include_blank: true}, { class: "form-control" }
    .form-group
      = f.label :sets, "Sets:", class: "col-sm-3 col-sm-offset-2 control-label"
      .col-sm-2
        = f.select :sets, options_for_sets(@exercise), {include_blank: true}, { class: "form-control" }
    .form-group
      = f.label :reps, "Reps:", class: "col-sm-3 col-sm-offset-2 control-label"
      .col-sm-2
        = f.select :reps, options_for_reps(@exercise), {include_blank: true}, { class: "form-control" }
    .col-sm-10.col-sm-offset-5.buttons
      = f.submit submit_type, class: "btn btn-success"
      -if cancel_or_delete == "delete"
        = link_to "Delete", exercise_path(@exercise), method: :delete, data: { confirm: 'Are you certain you want to delete this?' }, class: "btn btn-danger"
      = link_to "Cancel", :back, class: "btn btn-warning"