!!! 5
%html(lang="en-US")
  %head
    %title Fit Keeper
    %meta(charset="UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    = csrf_meta_tag
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
  %body
    %header
      = render 'shared/header' unless @take_out_header
    %section.content.clearfix
      .col-sm-8.center
        = render 'shared/messages'
    = yield
